# Ignora le variabili d'ambiente
.env
.env.local
.env.*.local

# Ignora la cache di Next.js
.next/
out/
node_modules/

# Ignora i file log e di sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*

